page-reportsummary {
    .fullBody{
    background-image: url("http://demo.winwaytechnology.in/ionicapp/Content/Images/AppImages/Global/applicationBackgound.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.bgTrnasp{
    background-color: transparent;
}
    .btnHeight{
        height: 70px;
    }
    
    .lableStart{  
        padding: 0px;
        margin: 0px;
        left: 0px;
        
    }
   
}
