page-home {
    
     .fullBody{
    background-image: url("http://demo.winwaytechnology.in/ionicapp/Content/Images/AppImages/Global/applicationBackgound.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

.thisCoverImage{
    height: 150px;
    width: 100%;
    border-color: none;
}
.coverImage{
    margin: 0;
    padding: 0;
    margin-top: -15px;
      border-color: none;
}
.proPhoto{
        height: 100px;
        width: 100px;
        margin-top: -60px;
          border-color: none;
    }
   
    ion-row{
       margin-top: -20px;
    }
 ion-col {    
        border-radius: 10px;
        box-shadow: rgba(0,0,0,0.8) 0 0 1px;  
        
    }
    .prodImage{
       width: 80px;
       height: 80px;
       display: block;
    margin-left: auto;
    margin-right: auto;
    
    }
    .title{
        color: white;
    }
    .grid1{
        background-color: #F0AD4E;
    }
    .grid2{
        background-color: #5d8aa8;
    }
    .grid3{
        background-color: #e32636;
    }
    .grid4{
        background-color: #9966cc;
    }
     .grid5{
        background-color: #8db600;
    }
    
    
    
    
    
}
